@model CityViewModel

@inject Localizer Localizer
@inject ISelectListHelper SelectList

@{
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

<div class="modal-header">
    <h5 class="modal-title">@Localizer.Edit</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<form asp-antiforgery="true" data-ajax-url="@Url.Action("Edit", "Cities", new { area = "Administration" })" data-ajax="true" data-ajax-method="post" data-ajax-success="hideModal" data-ajax-update="#update-modal">
    <div class="modal-body">

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="m-alert m-alert--icon m-alert--outline alert alert-danger alert-dismissible animated fadeIn" role="alert">
                <div class="m-alert__icon">
                    <i class="la la-warning"></i>
                </div>
                <div class="m-alert__text">
                    @Html.ValidationSummary()
                </div>
                <div class="m-alert__close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        }

        <div class="form-group m-form__group row">
            <div class="col-lg-12">
                <label for="m_cities_add__countryId" class="form-control-label">* @Localizer.Country</label>
                <div class="dropdown bootstrap-select form-control m-bootstrap-select m_">
                    <select id="m_cities_edit__countryId" asp-for="CountryId" class="form-control m-bootstrap-select m_selectpicker" asp-items="SelectList.Countries(true)" onchange="CitiesEdit__FillRegions()"></select>
                </div>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <div class="col-lg-12">
                <label for="m_cities_add__regionId" class="form-control-label">@Localizer.Region</label>
                <div class="dropdown bootstrap-select form-control m-bootstrap-select m_">
                    <select id="m_cities_edit__regionId" asp-for="RegionId" asp-items="SelectList.Regions(true)" class="form-control m-bootstrap-select m_selectpicker">
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <div class="col-lg-12">
                <label class="form-control-label">* @Localizer.Name</label>
                <input type="text" asp-for="Name" class="form-control m-input" placeholder="@Localizer.Name">
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="modal-footer">
        <div class="form-actions right">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer.Close</button>
            <button type="submit" class="btn btn-primary">@Localizer.Save</button>
        </div>
    </div>
</form>

@section scripts {
    <script type="text/javascript">

        function CitiesEdit__FillRegions() {
            var countryId = $("#m_cities_edit__countryId").val();

            $("#m_cities_edit__regionId").html("");
            $("#m_cities_edit__regionId").append($("<option selected></option>").val("").html("@Localizer.SelectRegion"));

            if (countryId != 0) {
                $.ajax({
                    url: "@Url.Action("GetRegionsByCountryId", "Cities", new { area = "Administration" })",
                    type: "GET",
                    dataType: "JSON",
                    data: { countryId: countryId },
                    success: function (data) {
                        $("#m_cities_edit__regionId").selectpicker("destroy");
                        $.each(data, function (i, element) {
                            $("#m_cities_edit__regionId").append($('<option></option>').val(element.value).html(element.text));
                        });
                        $("#m_cities_edit__regionId").selectpicker();
                    }
                });
            }
        }

        function hideModal(data) {
            if (data.success) {
                $("#m_cities_index__datatable").mDatatable().destroy();
                CitiesDraw();
                closeModal();

                $("#m_js__notification").text(data.notification.value);
                NotificationHandler(data.notification.value);
            } else {
                $("#m_cities_edit__countryId").trigger("change");
            }
        }
    </script>
}