@model NevladinaOrganizacija.Areas.Administration.Models.Citizenship
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Add";
}

<h2>Create</h2>
@using(Html.BeginForm("Add","Citizenship",FormMethod.Post))
{
    @Html.AntiForgeryToken();
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-danger">
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th class="text-danger">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="text-danger">
                    @Html.DisplayNameFor(model => model.Nationality)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.TextAreaFor(model => Model.Country)
                    @Html.ValidationMessageFor(model => model.Country)
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Name)
                    @Html.ValidationMessageFor(model=>model.Name)
                </td>
                <td>
                    @Html.TextAreaFor(model => Model.Nationality)
                    @Html.ValidationMessageFor(model=>model.Nationality)
                </td>
                <td>
                    <input type="submit" value="Save" class="btn btn-success" />
                </td>
            </tr>
        </tbody>
    </table>
}