@model SponsorViewModel

@inject ISelectListHelper SelectList
@inject Localizer Localizer
@{
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

<div class="modal-header">
    <h5 class="modal-title">@Localizer.AddSponsor</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<form asp-antiforgery="true" enctype="multipart/form-data" data-ajax-url="@Url.Action("AddSponsor", "Events", new { area = "Administration" })" data-ajax="true" data-ajax-method="post" data-ajax-success="hideModal" data-ajax-update="#update-modal-lg">
    <div class="modal-body pb-0">
        <input hidden asp-for="SaveAndOptions" />
        <input hidden asp-for="EventId" />


        @if (!ViewData.ModelState.IsValid)
        {
            <div class="m-alert m-alert--icon m-alert--outline alert alert-danger alert-dismissible animated fadeIn" role="alert">
                <div class="m-alert__icon">
                    <i class="la la-warning"></i>
                </div>
                <div class="m-alert__text">
                    @Html.ValidationSummary()
                </div>
                <div class="m-alert__close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        }
        <div class="form-group m-form__group row">
            <div class="col-lg-12">
                <label class="form-control-label">* @Localizer.SponsorType</label>
                <select class="form-control m-bootstrap-select m_selectpicker" asp-for="SponsorTypeId" asp-items="@SelectList.SponsorTypes(true)"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="m-radio-list pb-2 row">
                    <div class="col-lg-6">
                        <label class="m-radio">
                            <i class="la la-hand-pointer-o text-warning">
                            </i>
                            <input type="radio" class="typeSponsor" asp-for="NewSponsor" value="exists"> @Localizer.SelectAnExistingSponsor
                            @*<span></span>*@
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <label class="m-radio">
                            <i class="fa fa-user-plus text-success">
                            </i>
                                <input type="radio" class="typeSponsor" asp-for="NewSponsor" value="new">@Localizer.AddNewSponsor
                            @*<span></span>*@
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div id="existsSponsors" hidden class="form-group m-form__group row">
            <div class="col-lg-12">
                <label class="form-control-label">* @Localizer.Sponsor   </label>
                <select asp-for="SponsorId" asp-items="@SelectList.Sponsors()" class="form-control m-select2 select2-hidden-accessible" id="m_select2_1" data-select2-id="m_select2_1" tabindex="-1" aria-hidden="true"></select>
            </div>
        </div>
        <div id="newSponsor" hidden>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group m-form__group row">
                        <div class="col-lg-12">
                            <label class="form-control-label">* @Localizer.Name</label>
                            <input type="text" asp-for="Name" class="form-control m-input" placeholder="@Localizer.Name">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group m-form__group row">
                        <div class="col-lg-12">
                            <label class="form-control-label">* @Localizer.WebsiteURL</label>
                            <input type="text" asp-for="WebUrl" class="form-control m-input" placeholder="@Localizer.WebsiteURL">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-lg-12">
                    <label class="form-control-label">* @Localizer.Desription</label>
                    <textarea rows="3" class="summernote" asp-for="Description" id="m_summernote_2" style="display: none;"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group m-form__group row">
                        <div class="col-lg-12">
                            <label for="announcFiles" class="form-control-label"> @Localizer.Files</label>
                            <div class="m-dropzone dropzone mb-4 border-info" id="announcFiles">
                                <div class="fallback">
                                    <input name="files" type="file" multiple />
                                    <input type="submit" value="Upload" />
                                </div>
                                <div class="m-dropzone__msg dz-message needsclick">
                                    <h6 class="m-dropzone__msg-title">@Localizer.DropzoneMsgTitle</h6>
                                    <span class="m-dropzone__msg-desc">@Localizer.DropzoneMsgDesc</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="modal-footer">
        <div class="form-actions right">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer.Close</button>
            <button type="submit" id="save" class="btn btn-primary">@Localizer.Save</button>
        </div>
    </div>
    <div class="datepicker datepicker-dropdown dropdown-menu datepicker-orient-left datepicker-orient-bottom" style="top: 378.6px; left: 587.683px; z-index: 10; "><div class="datepicker-days" style=""><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev"><i class="la la-angle-left"></i></th><th colspan="5" class="datepicker-switch">September 2018</th><th class="next"><i class="la la-angle-right"></i></th></tr><tr><th class="dow">Su</th><th class="dow">Mo</th><th class="dow">Tu</th><th class="dow">We</th><th class="dow">Th</th><th class="dow">Fr</th><th class="dow">Sa</th></tr></thead><tbody><tr><td class="old day" data-date="1535241600000">26</td><td class="old day" data-date="1535328000000">27</td><td class="old day" data-date="1535414400000">28</td><td class="old day" data-date="1535500800000">29</td><td class="old day" data-date="1535587200000">30</td><td class="old day" data-date="1535673600000">31</td><td class="day" data-date="1535760000000">1</td></tr><tr><td class="day" data-date="1535846400000">2</td><td class="day" data-date="1535932800000">3</td><td class="day" data-date="1536019200000">4</td><td class="day" data-date="1536105600000">5</td><td class="day" data-date="1536192000000">6</td><td class="day" data-date="1536278400000">7</td><td class="day" data-date="1536364800000">8</td></tr><tr><td class="day" data-date="1536451200000">9</td><td class="day" data-date="1536537600000">10</td><td class="day" data-date="1536624000000">11</td><td class="day" data-date="1536710400000">12</td><td class="day" data-date="1536796800000">13</td><td class="day" data-date="1536883200000">14</td><td class="day" data-date="1536969600000">15</td></tr><tr><td class="day" data-date="1537056000000">16</td><td class="day" data-date="1537142400000">17</td><td class="today day" data-date="1537228800000">18</td><td class="day" data-date="1537315200000">19</td><td class="day" data-date="1537401600000">20</td><td class="day" data-date="1537488000000">21</td><td class="day" data-date="1537574400000">22</td></tr><tr><td class="day" data-date="1537660800000">23</td><td class="day" data-date="1537747200000">24</td><td class="day" data-date="1537833600000">25</td><td class="day" data-date="1537920000000">26</td><td class="day" data-date="1538006400000">27</td><td class="day" data-date="1538092800000">28</td><td class="day" data-date="1538179200000">29</td></tr><tr><td class="day" data-date="1538265600000">30</td><td class="new day" data-date="1538352000000">1</td><td class="new day" data-date="1538438400000">2</td><td class="new day" data-date="1538524800000">3</td><td class="new day" data-date="1538611200000">4</td><td class="new day" data-date="1538697600000">5</td><td class="new day" data-date="1538784000000">6</td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div><div class="datepicker-months" style="display: none;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev"><i class="la la-angle-left"></i></th><th colspan="5" class="datepicker-switch">2018</th><th class="next"><i class="la la-angle-right"></i></th></tr></thead><tbody><tr><td colspan="7"><span class="month">Jan</span><span class="month">Feb</span><span class="month">Mar</span><span class="month">Apr</span><span class="month">May</span><span class="month">Jun</span><span class="month">Jul</span><span class="month">Aug</span><span class="month focused">Sep</span><span class="month">Oct</span><span class="month">Nov</span><span class="month">Dec</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div><div class="datepicker-years" style="display: none;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev"><i class="la la-angle-left"></i></th><th colspan="5" class="datepicker-switch">2010-2019</th><th class="next"><i class="la la-angle-right"></i></th></tr></thead><tbody><tr><td colspan="7"><span class="year old">2009</span><span class="year">2010</span><span class="year">2011</span><span class="year">2012</span><span class="year">2013</span><span class="year">2014</span><span class="year">2015</span><span class="year">2016</span><span class="year">2017</span><span class="year focused">2018</span><span class="year">2019</span><span class="year new">2020</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div><div class="datepicker-decades" style="display: none;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev"><i class="la la-angle-left"></i></th><th colspan="5" class="datepicker-switch">2000-2090</th><th class="next"><i class="la la-angle-right"></i></th></tr></thead><tbody><tr><td colspan="7"><span class="decade old">1990</span><span class="decade">2000</span><span class="decade focused">2010</span><span class="decade">2020</span><span class="decade">2030</span><span class="decade">2040</span><span class="decade">2050</span><span class="decade">2060</span><span class="decade">2070</span><span class="decade">2080</span><span class="decade">2090</span><span class="decade new">2100</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div><div class="datepicker-centuries" style="display: none;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev"><i class="la la-angle-left"></i></th><th colspan="5" class="datepicker-switch">2000-2900</th><th class="next"><i class="la la-angle-right"></i></th></tr></thead><tbody><tr><td colspan="7"><span class="century old">1900</span><span class="century focused">2000</span><span class="century">2100</span><span class="century">2200</span><span class="century">2300</span><span class="century">2400</span><span class="century">2500</span><span class="century">2600</span><span class="century">2700</span><span class="century">2800</span><span class="century">2900</span><span class="century new">3000</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div></div>
</form>
@section scripts {
    <script src="~/demo/default/custom/crud/forms/widgets/summernote.js" type="text/javascript"></script>
    <script src="~/demo/default/custom/crud/forms/widgets/dropzone.js" type="text/javascript"></script>
    <script src="~/demo/default/custom/crud/forms/widgets/select2.js" type="text/javascript"></script>

    <script type="text/javascript">
        function hideModal(data) {
            if (data.success) {
                closeModal();

                NotificationHandler(data.notification.value);
            }
        }
        $(document).ready(function () {
            $('#m_summernote_2').summernote({ height: 100 });

             var Select2 = {
                init: function () {
                    $("#m_select2_3_1, #m_select2_3_1_validate").select2({
                        placeholder: "@Localizer.SelectSponsor"
                    })
                }
            }
            Select2.init();
            $(".select2-container, .select2-search, .select2-search__field").css("width", "100%");
            $("#modal-container-lg").attr("tabindex", "");

            function hideShowRecipients() {
                var type = $(".typeSponsor:checked").val();
                if (type==="new") {
                    $('#newSponsor').removeAttr('hidden');
                    $('#existsSponsors').attr('hidden', '');
                }
                else if(type==="exists") {
                    $('#existsSponsors').removeAttr('hidden');
                    $('#newSponsor').attr('hidden', '');

                }
            }
            hideShowRecipients();
            $(".typeSponsor").on("click", function () {
                hideShowRecipients();
            })

            Dropzone.autoDiscover = false;
            var DropzoneDemo = function () {
                //== Private functions
                var demos = function () {
                    var myDropzone = new Dropzone("#announcFiles", {
                        url: '@Url.Action("Upload", "Events", new { area = "Administration" })',
                        method: 'POST',
                        autoProcessQueue: false,
                        uploadMultiple: true,
                        paramName: 'files',
                        parallelUploads: 1,
                        maxFiles: 1,
                        maxFilesize: 5,
                        acceptedFiles: "image/*",
                        addRemoveLinks: true,
                        accept: function (file, done) {
                                //myDropzone.processQueue();
                                myDropzone.processFile(file);  //--- on submit
                        }
                    })
                }
                return {
                    // public functions
                    init: function () {
                        demos();
                    }
                };
            }();
            DropzoneDemo.init();
        })
    </script>
}
