@inject Localizer Localizer

@{
    var loggedUser = Context.GetLoggedUserData();

}
<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-light " id="m_aside_left_close_btn">
    <i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item m-aside-left  m-aside-left--skin-light ">
    <!-- BEGIN: Aside Menu -->
    <div id="m_ver_menu" class="m-aside-menu m-aside-menu--skin-light m-aside-menu--submenu-skin-dark m-scroller ps ps--active-y " m-menu-vertical="1" m-menu-scrollable="1" m-menu-dropdown-timeout="500" style="position: relative;">
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
            <li class="m-menu__item m-menu__item--active " aria-haspopup="true">
                <a href="@Url.Action("Index", "Home", new { area = string.Empty })" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-line-graph"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">@Localizer.Dashboard</span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="m-menu__item  m-menu__item" aria-haspopup="true" is-visible="@(loggedUser.Roles.Select(x=>x.RoleLevel).Contains((int)Enumerations.RoleLevels.Institution) || loggedUser.Roles.Select(x=>x.RoleLevel).Contains((int)Enumerations.RoleLevels.System))">
                <a href="@Url.Action("Index", "Staff", new { area = nameof(nevladinaOrg.Web.Areas.Institutions) })" class="m-menu__link ">
                    <i class="m-menu__link-icon la la-users"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">@Localizer.InstitutionStaff</span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="m-menu__item  m-menu__item" aria-haspopup="true" is-visible="@(loggedUser.Roles.Select(x=>x.RoleLevel).Contains((int)Enumerations.RoleLevels.Institution) || loggedUser.Roles.Select(x=>x.RoleLevel).Contains((int)Enumerations.RoleLevels.System))">
                <a href="@Url.Action("Index", "Members", new { area = nameof(nevladinaOrg.Web.Areas.Organizations) })" class="m-menu__link ">
                    <i class="m-menu__link-icon la la-users"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">@Localizer.Members</span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="m-menu__item  m-menu__item" aria-haspopup="true" is-visible="@(loggedUser.Roles.Select(x=>x.RoleLevel).Contains((int)Enumerations.RoleLevels.Institution) || loggedUser.Roles.Select(x=>x.RoleLevel).Contains((int)Enumerations.RoleLevels.System))">
                <a href="@Url.Action("Index", "Events", new { area = nameof(nevladinaOrg.Web.Areas.Administration) })" class="m-menu__link ">
                    <i class="m-menu__link-icon la la-building-o"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">@Localizer.Events</span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="m-menu__section ">
                <h4 class="m-menu__section-text">@Localizer.Settings</h4>
                <i class="m-menu__section-icon flaticon-more-v2"></i>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover" is-visible="@loggedUser.Roles.Select(x=>x.RoleLevel).Contains((int)Enumerations.RoleLevels.System)">
                <a href="javascript:;" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-layers"></i>
                    <span class="m-menu__link-text">@Localizer.System</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu ">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                            <span class="m-menu__link">
                                <span class="m-menu__link-text">@Localizer.System</span>
                            </span>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="@Url.Action("General", "SystemSettings", new { area = nameof(nevladinaOrg.Web.Areas.Administration) })" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">@Localizer.General</span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="@Url.Action("Regional", "SystemSettings", new { area = nameof(nevladinaOrg.Web.Areas.Administration) })" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">@Localizer.Regional</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover" is-visible="@(loggedUser.Roles.Select(x=>x.RoleLevel).Contains((int)Enumerations.RoleLevels.Institution) || loggedUser.Roles.Select(x=>x.RoleLevel).Contains((int)Enumerations.RoleLevels.System))">
                <a href="javascript:;" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-layers"></i>
                    <span class="m-menu__link-text">@Localizer.Institutions</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu ">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                            <span class="m-menu__link">
                                <span class="m-menu__link-text">@Localizer.InstitutionalSettings</span>
                            </span>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="@Url.Action("General", "InstitutionalSettings", new { area = nameof(nevladinaOrg.Web.Areas.Administration) })" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">@Localizer.General</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="m-menu__item  m-menu__item" aria-haspopup="true">
                <a href="@Url.Action("Index", "Announcements", new { area = nameof(nevladinaOrg.Web.Areas.Administration) })" class="m-menu__link ">
                    <i class="m-menu__link-icon la la-info"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">@Localizer.Announcements</span>
                        </span>
                    </span>
                </a>
            </li>


        </ul>
    </div>
    <!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->